body {
    background-image: url(https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fkurio-img.kurioapps.com%2F21%2F02%2F09%2F3d5d3555-2e9c-4252-95dc-8e8b698cae81.jpe);
    color: white;
    font-family: verdana;
    
}

